<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link href="playlistStyle.css" rel="stylesheet" type="text/css">
    </head>
    
    
    <body>
        
        
        
        {{> footer}}

    </body>
</html>